body {
  margin: 0;
  background: #fff;
  color: #222;
}

header {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
    position: fixed;    /* фиксируем */
  top: 0;             /* прижать к верху */
  left: 0;
  width: 100%;        /* чтобы на всю ширину */
  z-index: 1000; 
  box-sizing: border-box;
}

main {
  padding-top: 100px; /* отступ под фиксированное меню */
}




.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #fff;
  transition: 0.3s;
  border-radius: 2px;
}

.burger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
nav a:hover,
nav a:active {
  color: #0f4b39;
}

.faq {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
}

.faq h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #0b3d2e;
}

.faq-item {
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.faq-question {
  width: 100%;
  background: #04040426;
  border: none;
  outline: none;
  padding: 15px 20px;
  text-align: left;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  font-family: "Poiret One", sans-serif;
  font-size: 1.3rem;
}

.faq-question:hover {
  background: #0b3d2e61;
}

.faq-answer {
  display: none;
  padding: 15px 20px;
  background: #fff;
  border-left: 4px solid #0b3d2e;
  font-size: 1rem;
  color: #000000;
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
}

.faq-item.active .faq-answer {
  display: block;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}
.logo img {
  height: 70px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-family: "Poiret One", sans-serif;
  font-size: 1.3rem;
}
nav a:hover {
  color: #0f4b39; /* тёмно-зелёный */
}



footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: #fff;
  font-size: 14px;
}


@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    background: #000;
    position: fixed;
    top: 90px;
    right: -100%;
    width: 60%;
    height: calc(100vh - 90px);
    padding: 40px 20px;
    transition: right 0.4s ease;
  }

  nav.open ul {
    right: 0;
  }

  .burger {
    display: flex;
  }
}

@media (max-width: 768px) {
  header {
    padding: 20px 25px; /* как на главной странице */
  }

  .burger {
    right: 25px;
    position: absolute;
  }

  .logo img {
    height: 60px;
  }
}